<div class="container">
<div class="row">
  <div class="col-md-12 text-center">
    <h1>Wave Watcher</h1>
    <p class="text-center" *if="loading">
      <i class="fa fa-cog fa-spin fa-3x"></i>
    </p>
    <p class="text-center" *if="!loading">
      Next update
      <wv-counter [end]="forecasts.NextUpdate"></wv-counter>
    </p>
  </div>
</div>
<div class="row">
</div>
</div>
